<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Main</title>
    </head>


    <body>
        <h1>Main</h1>
        <br>

        <form method="post" action="/login">
            <table>
                <tr>
                    <td><label>아이디<%= id %></label></td>
                </tr>

                <tr>
                    <td><label>비밀번호</label></td>
                </tr>
            </table>

            <input type="submit" value="로그인" name="">
        </form>

    </body>
</html>
